@model ServiceHub.WebApp.Models.ProductViewModel
@{
    ViewData["Title"] = "Product";
}
@Html.AntiForgeryToken()

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item "><a asp-action="Index" asp-controller="Home" asp-area="Masters">Masters</a></li>
        <li class="breadcrumb-item "><a asp-action="ProductIndex" asp-controller="Home" asp-area="Masters">Products</a></li>

        <li class="breadcrumb-item active" aria-current="page">Product list</li>
    </ol>

}

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

<div style="display:none">
    <input type="hidden" asp-for="@Model.FilterDataModel.IsActive" />
</div>

<div class="container-fluid bg-white border card rounded shadow m-auto col-xl-11 p-2 ">
    <div class="app-h4 app-card-header mb-2">
        <p>Product list</p>
    </div>
    <div class="card-toolbar">
        <div role="toolbar">
            @*  @if (CurrentUserIdentity.ProfileActions.Any(p => p.ActionId == TCMPLApp.Domain.Models.LC.LCHelper.ActionCreateMasters))
            { *@
            <form>
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-8">
                        <div class="card-block p-0 m-0 ">
                            <div class="card-deck">
                                <div class="card col-md-12 col-xl-12">
                                    <div class="card-body m-0 p-0 ">
                                        <div id="divPrimaryDetails">
                                            <div class="row p-1">
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="ProductName" class="col-12 control-label"></label>
                                                        <div class="col-12">
                                                            <input asp-for="ProductName" class="form-control capitalize" required />
                                                            <span asp-validation-for="ProductName" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="ProductCode" class="col-12 control-label"></label>
                                                        <div class="col-12">
                                                            <input asp-for="ProductCode" class="form-control capitalize" required />
                                                            <span asp-validation-for="ProductCode" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="ServiceDate" class="col-12 control-label"></label>
                                                        <div class="col-12">
                                                            <input asp-for="ServiceDate" type="text" placeholder="DD-MMM-YYYY"
                                                                   class="form-control DateTimePickerInit" required />
                                                            <span asp-validation-for="ServiceDate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6">
                                                    <div class="form-group">
                                                        <label asp-for="WarrantyDate" class="col-12 control-label"></label>
                                                        <div class="col-12">
                                                            <input asp-for="WarrantyDate" type="text" placeholder="DD-MMM-YYYY"
                                                                   class="form-control DateTimePickerInit" required />
                                                            <span asp-validation-for="WarrantyDate" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-12 col-lg-12 col-md-12">
                                                    <div class="form-group">
                                                        <label asp-for="ProductDescription" class="col-12 control-label"></label>
                                                        <div class="col-12">
                                                            <textarea asp-for="ProductDescription" rows="1" class="form-control capitalize" required></textarea>
                                                            <span asp-validation-for="ProductDescription" class="text-danger"></span>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                            <hr class="m-0 p-1" />
                                            <div class="row p-1 ">
                                                <div class="col-8 col-lg-6 col-12-6 col-sm-12">
                                                    <button type="submit"
                                                            data-mdb-button-init
                                                            data-mdb-ripple-init
                                                            class="btn btn-success mb-1 mx-2 ml-auto">
                                                        Submit
                                                    </button>
                                                </div>

                                                <div class="col-2 d-flex flex-row col-lg-6 col-12-6 col-sm-12">

                                                    <button type="submit"
                                                            data-mdb-button-init
                                                            data-mdb-ripple-init
                                                            class="btn btn-primary mb-1 mx-3 ml-auto">
                                                        <i class="fas fa-plus"></i>
                                                    </button>

                                                    <button type="submit"
                                                            data-mdb-button-init
                                                            data-mdb-ripple-init
                                                            class="btn btn-primary mb-1 mx-3 ml-auto">
                                                        <i class="fas fa-save"></i>
                                                    </button>


                                                    <button type="submit"
                                                            data-mdb-button-init
                                                            data-mdb-ripple-init
                                                            class="btn btn-info mb-1 mx-3 ml-auto">
                                                        <i class="fas fa-edit"></i>
                                                    </button>

                                                    <button type="submit"
                                                            data-mdb-button-init
                                                            data-mdb-ripple-init
                                                            class="btn btn-danger mb-1 mx-3 ml-auto">
                                                        <i class="fas fa-trash-alt"></i>

                                                    </button>

                                                    <div class="col-6 mx-3 ml-auto">
                                                        <div class="switch d-inline  font-weight-bold">
                                                            <input type="checkbox" asp-for="Status" />
                                                            Status
                                                            <label for="Status" class="cr"></label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="card-block p-0 m-0 ">
                            <div class="card-deck  ">
                                <div class="card col-md-12 col-xl-12">
                                    <div class="card-body m-0 p-0 " style="height:310px;">
                                        <div class="text-center" style="height:250px;">
                                            <img id="preview" height="150px" style="width:150px!important; max-width:150px!important;min-width:150px!important;" src="~/images\avatar5.png" alt="User Avatar"
                                                 class="profile-user-img img-fluid img-square">
                                            <hr />
                                        </div>
                                        <input asp-for="UploadPhoto" type="file" class="form-control capitalize" required />

                                        <span asp-validation-for="UploadPhoto" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr />
    <div class="m-1"></div>
    <div class="bg-gray-active rounded ">

        <table id="tbGrid" class="table table-hover table-bordered  " style="width:100%">
            <thead class="bg-info text-white">
                <tr role="row">
                    <th>@Html.DisplayNameFor(model => model.ProductId)</th>
                    <th>@Html.DisplayNameFor(model => model.ProductCode)</th>
                    <th>@Html.DisplayNameFor(model => model.ProductName)</th>
                    <th>@Html.DisplayNameFor(model => model.ServiceDate)</th>
                    <th>@Html.DisplayNameFor(model => model.WarrantyDate)</th>
                    <th>@Html.DisplayNameFor(model => model.Status)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1001</td>
                    <td>PROD-1</td>
                    <td>Product 1</td>
                    <td>01-Jan-2024</td>
                    <td>29-Aug-2024</td>
                    <td>Active</td>
                    <td class="center">
                        <div class="row text-center pl-1 ml-1 pr-1 mr-1">

                            <a href="/Admin/CourseMaster/Upsert/${data.id}"
                               class='btn btn-success btn-sm text-white  m-2'
                               style='cursor:pointer;  '>
                                <i class='far fa-edit'></i>

                            </a>

                            <a onclick=Delete("/Admin/CourseMaster/Delete/${data.id}")
                               class='btn btn-danger btn-sm text-white m-2'
                               style='cursor:pointer;  '>
                                <i class='far fa-trash-alt'></i>
                            </a>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">
        function localScript() {
            initSelect2();
        }


        $(document).ready(function () {
            // localLoadDataTable();
            UploadPhoto();
            DateTimePickerInit();
            $('#tbGrid').DataTable({
                // "dom": 'Bfrtip',
                "lengthChange": false,
                // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                "buttons": {
                    buttons: [
                        { extend: 'excel', className: 'btn shadow m-1 btn-info' },
                        { extend: 'print', className: 'btn shadow m-1 btn-info' },
                        { extend: 'colvis', className: 'btn shadow m-1 btn-info' }
                    ]
                },
                // "dom": 'Qfrtip', for advance Search
                "autoWidth": false,
                "responsive": true,
                "searching": true,
                "processing": true,
                "stateSave": true,
                'columnDefs': [
                    {
                        "targets": 0,
                        "className": "text-center",
                        "className": "align-middle"
                    }
                ],
            });


        });
        function DateTimePickerInit() {
            $('.DateTimePickerInit').bootstrapMaterialDatePicker({
                format: 'DD-MMM-YYYY',
                time: false
            });
        }
        function UploadPhoto() {
            var fileTag = document.getElementById("UploadPhoto"),
                preview = document.getElementById("preview");

            fileTag.addEventListener("change", function () {
                changeImage(this);
            });

            function changeImage(input) {
                var reader;

                if (input.files && input.files[0]) {
                    reader = new FileReader();

                    reader.onload = function (e) {
                        preview.setAttribute('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }
        }
        function localLoadDataTable() {

            var table = $('#tbGrid').DataTable({
                drawCallback: function (settings) {
                    loadScript();
                },
                destroy: true,
                pageLength: 25,
                lengthMenu: [25, 50],
                processing: true,
                serverSide: true,
                stateSave: true,
                info: false,
                filter: false,
                dom: 'rt<"row"<"col-1"l><"col"p>><"clear">',
                ordering: false,
                columns: [
                    { data: "userName" },
                    { data: "email" },
                    { data: "clintName" },
                    { data: "roleName" },
                    {
                        data: null,
                        render: function (data, type, row) {
                            if (data.isActive == 1 || data.isActive == "1") {
                                return 'Yes';
                            }
                            else {
                                return 'No';
                            }
                        }
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            if (isActionCreateMasters == "True") {
                                return '<button class="btn btn-outline-primary btn-sm border-none" ' +
                                    ' data-jqueryselector="openmodal" ' +
                                    ' data-modalcontainer="modalcontainer" ' +
                                    ' data-url="@Url.Action("BankUpdate", "Masters", new { Area = "LC" })"' +
                                    ' data-modalpopupwidth="rightw35" ' +
                                    ' data-applicationid="' + data.userId + '"' +
                                    ' data-modaltitle="Edit details" ' +
                                    ' data-modalheader="Edit details" ' +
                                    ' > ' +
                                    ' <i class="fas fa-edit" aria-hidden="true"></i> ' +
                                    ' </button>'
                            }
                            else {
                                return '';
                            }
                        },
                        'className': "td-icon",
                    }
                ], ajax: {
                    headers: { "RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val() },
                    url: '@Url.Action("GetListsBank", "Masters")',
                    type: 'GET',
                    cache: true,
                    dataType: "json",
                    data: function (d) {
                        d.columns = null;
                        d.order = null;
                        d.search = null;
                        d.genericSearch = null; // $('#FilterDataModel_GenericSearch').val();
                        d.businessEntityId = null; // $('#FilterDataModel_BusinessEntityId').val();
                        d.startDateTime = null; // $('#FilterDataModel_StartDateTime').val();
                        d.endDateTime = null; // $('#FilterDataModel_EndDateTime').val();
                        d.statusTypeId = null; // $('#FilterDataModel_StatusTypeId').val();
                        d.isActive = $('#FilterDataModel_IsActive').val();
                        //d.endDate = $('#FilterDataModel_EndDate').val();
                    },
                    error: function (request, status, error) {
                        notify('error', request.responseText, 'danger');
                    }
                }
            });

            //dataTableSearch();
        }

        function PostFilterReLoadDataTable(data) {
            $("#modalcontainer").modal('hide');

            $("#FilterDataModel_IsActive").val(data.isActive);

            localLoadDataTable();

            hideLoader();
        }

        function PostSaveReLoadDataTable(data) {
            if (data.success) {
                $("#modalcontainer").modal('hide');
                localLoadDataTable();
                hideLoader();
                notify('success', data.response, 'Success');
            }
        }
    </script>
}
