@model ServiceHub.WebApp.Models.CMRViewModel
@{
    ViewData["Title"] = "Technician Home";
}
@Html.AntiForgeryToken()

@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item ">
            <a asp-action="CMRDashboardIndex" asp-controller="Home" asp-area="Technician">
                <i class="fas fa-home"></i>
            </a>
        </li>

        <li class="breadcrumb-item active" aria-current="page">Technician Dashboard</li>
    </ol>

}

@section Styles {
    <link href="@Url.Content("~/css/drome-style.css")" rel="stylesheet" type="text/css" asp-append-version="true" />
}

@if ((bool)@Context.Items["isMobile"] == true)
{
    <div style="display:none">
    </div>

    <div class="container-fluid bg-white border card rounded shadow m-auto col-xl-12 p-0  ">

        <section>
            <div class="row">
                <div class="col-lg-4 col-4">
                    <div class="small-box bg-info  m-0">
                        <div class="inner p-0">
                            <h3>4</h3>
                            <p><h4>CMR</h4></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-4">

                    <div class="small-box bg-success  m-0">
                        <div class="inner p-0">
                            <h3>2</h3>
                            <p><h4>PMR</h4></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-4">
                    <div class="small-box bg-warning text-white m-0">
                        <div class="inner p-0">
                            <h3>8</h3>
                            <p><h4>WMR</h4></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <div class="app-h4 app-card-header mt-3 mb-3">

            <div class="row">
                <div class="col-8">
                    <h5 style=" "> Service Requests</h5>
                </div>
                <div class="col-4">
                    <a asp-area="Masters" style="float: right;"
                       asp-controller="UsersClient"
                       asp-action="CreateClientUserIndex"
                       class=" pl-2 pr-2">
                        <i class="far fa-bell" aria-hidden="true"></i>&nbsp;
                    </a>
                    <a asp-area="Masters" style="float: right;"
                       asp-controller="UsersClient"
                       asp-action="CreateClientUserIndex"
                       class=" pr-2 ">
                        <i class="fas fa-plus " aria-hidden="true"></i>&nbsp;
                    </a>
                </div>
            </div>

        </div>

        <div class="m-1"></div>
        <div class="bg-gray-active rounded ">
            <div class="table-responsive" style="overflow:auto;">

                <div class="datatable-td-mobile">
                    <div class="card">
                        <div class="card-mobiledatatable ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.SRN)
                                        </dt>
                                        <dd class="col-lg-8">
                                            CMR-P000001
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.RequestedDate)
                                        </dt>
                                        <dd class="col-lg-8">
                                            05/May/2024
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.Priority)
                                        </dt>
                                        <dd class="col-lg-8">
                                            Critical
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Product)
                                        </dt>
                                        <dd class="col-lg-6">
                                            Scissor
                                        </dd>
                                    </dl>
                                </div>

                                <div class="col-6 " style="text-align:center;">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Customer)
                                        </dt>
                                        <dd class="col-lg-6">
                                            ABC Pvt. LTD
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="card-mobiledatatable ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.SRN)
                                        </dt>
                                        <dd class="col-lg-8">
                                            CMR-P000001
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.RequestedDate)
                                        </dt>
                                        <dd class="col-lg-8">
                                            05/May/2024
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.Priority)
                                        </dt>
                                        <dd class="col-lg-8">
                                            Critical
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Product)
                                        </dt>
                                        <dd class="col-lg-6">
                                            Scissor
                                        </dd>
                                    </dl>
                                </div>

                                <div class="col-6 " style="text-align:center;">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Customer)
                                        </dt>
                                        <dd class="col-lg-6">
                                            ABC Pvt. LTD
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="card-mobiledatatable ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.SRN)
                                        </dt>
                                        <dd class="col-lg-8">
                                            CMR-P000001
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.RequestedDate)
                                        </dt>
                                        <dd class="col-lg-8">
                                            05/May/2024
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.Priority)
                                        </dt>
                                        <dd class="col-lg-8">
                                            Critical
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Product)
                                        </dt>
                                        <dd class="col-lg-6">
                                            Scissor
                                        </dd>
                                    </dl>
                                </div>

                                <div class="col-6 " style="text-align:center;">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Customer)
                                        </dt>
                                        <dd class="col-lg-6">
                                            ABC Pvt. LTD
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div> <div class="card-mobiledatatable ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.SRN)
                                        </dt>
                                        <dd class="col-lg-8">
                                            CMR-P000001
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.RequestedDate)
                                        </dt>
                                        <dd class="col-lg-8">
                                            05/May/2024
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.Priority)
                                        </dt>
                                        <dd class="col-lg-8">
                                            Critical
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Product)
                                        </dt>
                                        <dd class="col-lg-6">
                                            Scissor
                                        </dd>
                                    </dl>
                                </div>

                                <div class="col-6 " style="text-align:center;">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Customer)
                                        </dt>
                                        <dd class="col-lg-6">
                                            ABC Pvt. LTD
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div> <div class="card-mobiledatatable ">
                            <div class="row ">
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.SRN)
                                        </dt>
                                        <dd class="col-lg-8">
                                            CMR-P000001
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.RequestedDate)
                                        </dt>
                                        <dd class="col-lg-8">
                                            05/May/2024
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-4 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-4">
                                            @Html.DisplayNameFor(model => model.Priority)
                                        </dt>
                                        <dd class="col-lg-8">
                                            Critical
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row ">
                                <div class="col-6 ">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Product)
                                        </dt>
                                        <dd class="col-lg-6">
                                            Scissor
                                        </dd>
                                    </dl>
                                </div>

                                <div class="col-6 " style="text-align:center;">
                                    <dl class="row margin-bottom-0">
                                        <dt class="col-lg-6">
                                            @Html.DisplayNameFor(model => model.Customer)
                                        </dt>
                                        <dd class="col-lg-6">
                                            ABC Pvt. LTD
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
}
else
{
    <h1>This screen only for Mobile</h1>
}
