@* @model ServiceHub.Models.ViewModels.ApplicationDashBored;
@using ServiceHub.Utility *@
@{
    ViewData["Title"] = "Index";

}

<section>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-6">

            <div class="small-box bg-info">
                <div class="inner">
                    <h3>102</h3>
                    <p><h4>CMRs</h4></p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">

            <div class="small-box bg-success">
                <div class="inner">
                    <h3>102</h3>
                    <p><h4>PMRs</h4></p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-6">

            <div class="small-box bg-warning text-white">
                <div class="inner">
                    <h3>50</h3>
                    <p><h4>Costumers</h4></p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
        @* <div class="col-lg-3 col-6">

        <div class="small-box bg-warning">
        <div class="inner">
        <h3>50</h3>
        <p><h4>Costumers</h4></p>
        </div>
        <div class="icon">
        <i class="ion ion-person-add"></i>
        </div>
        <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
        </div>
        </div> *@
        <!-- ./col -->
        <div class="col-lg-3 col-6">

            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>Reports </h3>
                    <p><h4>&nbsp </h4></p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
</section>

<div class="grey-bg container-fluid shadow border">
</div>


<div class="col-sm-12">
    <div class="row">

        <div class="col-md-4 col-xl-3">
            <div class="card card-tpl">
                <div class="card-header">
                    <h5>Self - Vaccine details</h5>
                </div>
                <div class="card-block card-tile">
                    <a href="@Url.Action("Index", "VaccinationSelf", new { Area = "SWPVaccine" })">
                        <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                                <h3 class="mb-2 f-w-300"> </h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clinic-medical f-20 text-white theme-green"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card card-tpl">
                <div class="card-header">
                    <h5>Self - Smart Work Policy</h5>
                </div>
                <div class="card-block card-tile">
                    <a href="@Url.Action("Index", "EmployeePolicy", new { Area = "SWPVaccine" })">
                        <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                                <h3 class="mb-2 f-w-300"> </h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-file-invoice f-20 text-white theme-blue"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-xl-3">
            <div class="card card-tpl">
                <div class="card-header">
                    <h5>SWP Policy Approval - HoD </h5>
                </div>
                <div class="card-block card-tile">
                    <a href="@Url.Action("Index", "HoDEmpPolicyManage", new { Area = "SWPVaccine" })">
                        <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                                <h3 class="mb-2 f-w-300"> </h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-cog	 f-20 text-white theme-green"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>



        <div class="col-md-4 col-xl-3">
            <div class="card card-tpl">
                <div class="card-header">
                    <h5>SWP Policy Approval - HR</h5>
                </div>
                <div class="card-block card-tile">
                    <a href="@Url.Action("Index", "HREmpPolicyManage", new { Area = "SWPVaccine" })">
                        <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                                <h3 class="mb-2 f-w-300"> </h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-truck-monster f-20 text-white theme-brown"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card card-tpl">
                <div class="card-header">
                    <h5>Employee Vaccination - HR</h5>
                </div>
                <div class="card-block card-tile">
                    <a href="@Url.Action("Index", "HREmpVaccineDateManage", new { Area = "SWPVaccine" })">
                        <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                                <h3 class="mb-2 f-w-300"> </h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-check   f-20 text-white theme-blue"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-xl-3">
            <div class="card card-tpl">
                <div class="card-header">
                    <h5>Employee Training - HR</h5>
                </div>
                <div class="card-block card-tile">
                    <a href="@Url.Action("Index", "EmployeeTraining", new { Area = "SWPVaccine" })">
                        <div class="row align-items-center justify-content-center stretched-link">
                            <div class="col">
                                <h3 class="mb-2 f-w-300"> </h3>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user-check   f-20 text-white theme-blue"></i>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>