@model ServiceHub.WebApp.Models.UserViewModel

@{
    ViewData["Title"] = "Details User ";
    var title = "Details User ";
    var Varid = "";
    string img = "";
    if (string.IsNullOrEmpty(Model.UploadProfilePic))
    {
       img = "/images\\avatar5.png";
    }
    else
    {
        img = Model.UploadProfilePic;
    }
}
@section BreadCrumbs
{
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Admin</a></li>

        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Users" asp-area="Admin">User List</a></li>


        <li class="breadcrumb-item active" aria-current="page">Users Details</li>
    </ol>

}
<div class="container-fluid ">
    @* <div class="row d-flex justify-content-center align-items-center h-100"> *@

    <div class="container-fluid bg-white border card rounded shadow m-auto col-xl-11 p-2 ">
        <div class="app-h4 app-card-header mb-2">
            <p>Users Details</p>

        </div>
        <div class="card-toolbar">
            <div role="toolbar">
                <div class="card rounded-3">
                    <div class="card-body">
                        <form id="frmUpdate"
                              asp-action="UpdateUserAjax" method="post"
                              asp-controller="Users"
                              asp-area="Admin"
                              enctype="multipart/form-data">
                            <div class="px-md-2">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(m => m.Id)
                                @Html.HiddenFor(m => m.UploadProfilePic)
                                <div class="text-center">
                                    <div class="col-6 p-0 m-0">
                                        <div class=" col-12  p-0 m-0">
                                            <div class="text-center">
                                                <img id="preview"
                                                     style="width:150px!important;
                                                        max-width:150px!important;
                                                        max-height:150px!important;
                                                        min-width:150px!important;
                                                        min-height:150px!important;"
                                                      src="@img.ToString()" alt="User Avatar"
                                                     class="profile-user-img img-fluid img-square">
                                                <div class="form-group">
                                                    <div class="col-12  p-0 m-0">
                                                        <div class="input-group">
                                                            <input type="file" hidden name="file" accept="image/*"
                                                                   id="UploadProfilePic"
                                                                   onchange="loadFile(event)"
                                                                   class="form-control capitalize  hidden " />
                                                            <span asp-validation-for="UploadProfilePic" class="text-danger"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr />
                                </div>
                                <div class="row">

                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-12">
                                            <div class="card card-tpl border shadow">
                                                <div class="card-header bg-info ">
                                                    <h5>Users Info</h5>
                                                </div>
                                                <div class="card-block card-tile">
                                                    <div class="row p-2 m-1">
                                                        <div class=" col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label asp-for="FirstName" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="FirstName" class="form-control capitalize" readonly />
                                                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="MiddleName" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="MiddleName" class="form-control capitalize" readonly />
                                                                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="LastName" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="LastName" class="form-control capitalize" readonly />
                                                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="ParentOrg" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <select asp-for="ParentOrg" class="form-control chosen-select-readonly"
                                                                            data-placeholder="Please select..."
                                                                            asp-items="ViewBag.ParentOrg" readonly>
                                                                        <option selected></option>
                                                                    </select>

                                                                    <span asp-validation-for="ParentOrg" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="ContactNo" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="ContactNo" type="number"
                                                                           onkeypress="limitKeypress(event,this.value,10)"
                                                                           class="form-control capitalize text__input"
                                                                           readonly />
                                                                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 ">
                                                            <div class="form-group">
                                                                <label asp-for="EmailId" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="EmailId" class="form-control capitalize" readonly />
                                                                    <span asp-validation-for="EmailId" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                                        <div class="col-12">
                                            <div class="card card-tpl border shadow">
                                                <div class="card-header bg-info ">
                                                    <h5>Login details</h5>
                                                </div>
                                                <div class="card-block card-tile">
                                                    <div class="row p-2 m-1">
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="Username" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="Username" value="@Model.ContactNo" class="form-control text__input" readonly />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="ValidFromDate" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="ValidFromDate"
                                                                           value="@Model.ValidFromDate?.ToString("dd-MMM-yyyy")"
                                                                           type="text" placeholder="DD-MMM-YYYY"
                                                                           class="form-control" readonly />
                                                                    <span asp-validation-for="ValidFromDate" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="ValidToDate" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="ValidToDate"
                                                                           value="@Model.ValidToDate?.ToString("dd-MMM-yyyy")"
                                                                           type="text" placeholder="DD-MMM-YYYY"
                                                                           type="text"
                                                                           class="form-control" placeholder="DD-MMM-YYYY"
                                                                           readonly />
                                                                    <span asp-validation-for="ValidToDate" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="UserType" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <select asp-for="UserType" class="form-control chosen-select-readonly"
                                                                            data-placeholder="Please select..."
                                                                            asp-items="ViewBag.UserType" readonly disabled>
                                                                        <option selected></option>
                                                                    </select>
                                                                    <span asp-validation-for="UserType" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-12-6 col-sm-12">
                                                            <div class="form-group">
                                                                <label asp-for="Password" class="col-12 control-label"></label>
                                                                <div class="col-12">
                                                                    <input asp-for="Password"
                                                                           class="form-control capitalize"
                                                                           readonly />
                                                                    <span asp-validation-for="Password" class="text-danger"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-6 col-12-6 col-sm-12">
                                                            <div class="form-group" style=" padding-left: 10px;">
                                                                <div class="switch d-inline font-weight-bold">
                                                                    Status
                                                                    <br />
                                                                    <input type="checkbox" asp-for="ActiveStatus" disabled />
                                                                    <label for="ActiveStatus" class="cr"></label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row p-1 ">
                                    <div class="col-8 col-lg-6 col-12-6 col-sm-12">
                                        <button type="button"
                                                data-mdb-button-init
                                                data-mdb-ripple-init
                                                onclick="return functionConfirm(this)"
                                                class="btn btn-warning mb-1  mx-3 ml-auto">
                                            <i class="fas fa-unlock-alt">Unlock</i>
                                        </button>
                                    </div>
                                    <div class="col-2 d-flex flex-row col-lg-6 col-12-6 col-sm-12">



                                        @*    <input class="btn btn-danger mb-1 mx-3 ml-auto"
                                        type="submit" value="Update" asp-action="Update" /> *@


                                    </div>
                                </div>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@* </div> *@
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>

        $(document).ready(function () {
            DateTimePickerInit();
        });

        function DateTimePickerInit() {
            $('.DateTimePickerInit').bootstrapMaterialDatePicker({
                format: 'DD-MMM-YYYY',
                time: false
            });
        }

        function limitKeypress(event, value, maxLength) {
            if (value != undefined && value.toString().length >= maxLength) {
                event.preventDefault();
            }
        }

        var loadFile = function (event) {
            var output = document.getElementById('preview');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            };
        };


        function functionConfirm(event) {


            $('#frmUpdate').submit();


            return false;
        }
    </script>

}